# update this file with the correct owners:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# example:
    *         @kevindkchan @EthanShi-push @puro-exe @tashrifahmedd @weikun0309 @Zarin21
